.area-layout {
  margin: 0 auto;
  max-width: 800px;
  display: grid;
  grid-template: "game logs" calc(
    var(--cell-size) * var(--map-size) + var(--cell-gap) * (var(--map-size) - 1)
  ) "item item" auto
    "input input" auto
   / auto 1fr;
  gap: 4px;
}

@media (max-width: 780px) {
  .area-layout {
    height: 100%;
    grid-template: "logs" 1fr
    "game" calc(
    var(--cell-size) * var(--map-size) + var(--cell-gap) * (var(--map-size) - 1)
  )
    "item" auto
    "input" auto / 1fr;
  }
}

.area-layout-game {
  grid-area: game;
  align-self: center;
}

.area-layout-logs {
  grid-area: logs;
  background-color: #333333;
  color: #ffffff;
  font-family: 'VT323', monospace;
  font-size: 20px;
  overflow-y: auto;
}

.area-layout-logs .emoji {
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
}

.area-layout-item {
  grid-area: item;
  background-color: #445566;
  color: #ffffff;
  font-family: 'VT323', monospace;
  font-size: 20px;
}

.area-layout-item .emoji {
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
}

.area-layout-input {
  grid-area: input;
  width: max-content;
  justify-self: center;
}